NEXT_PUBLIC_PRODUCTION_URL='https://mywebsite.com'

# supabase main account (github)
NEXT_PUBLIC_SUPABASE_URL=''
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''
# DB password: f3PuirEOsXPhLK3U
# access token: pnpx supabase login --token sbp_8730fa57b768a42372aa87fced7d68a5d6dd2deb


# For support chat (to see messages immediately)
# 
# 
PUSHER_APP_ID=''
NEXT_PUBLIC_PUSHER_APP_KEY=''
PUSHER_SECRET=''


# IAM CLI Secret key - 
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_TEST=''
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_LIVE=''
STRIPE_WEBHOOK_SECRET_TEST=''
STRIPE_WEBHOOK_SECRET_LIVE=''
STRIPE_SECRET_KEY_TEST=''
STRIPE_SECRET_KEY_LIVE=''


# For Cloudflare robot protection
NEXT_PUBLIC_CLOUDFLARE_SITE_KEY=''
CLOUDFLARE_SECRET_KEY=''


# VPN - disabled
# email
# password
RESEND_SECRET=''


TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''

NEXT_PUBLIC_TICKETS_LIMIT='5'

1. pusher
2. supabase
3. openAI
4. your WA API (to send messages)
5. stripe
6. twilio (to validate phone to avoid free trial abuse)
7. resend for payment-check and ToS updates